<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form method="post">
        Email :<input type="text" name="email"><br>
        PassWord : <input type="text" name="password"><br>
        <input type="submit" value="Login">
        <a href="/signup">Register...?</a>
    </form>
</body>
</html>